langchain~=0.3.23
langchain-community
langgraph~=0.3.25
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
qdrant-client~=1.13.3
openai
sqlalchemy~=2.0.40
tavily-python
python-dotenv~=1.1.0
langchain-core~=0.3.51
llama-index-core~=0.12.28
pandas~=2.2.3
pyspark
tabulate