langchain
langchain-community
langchain-openai
langgraph
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
qdrant-client
openai
sqlalchemy
tavily-python
python-dotenv
langchain-core
llama-index-core
pandas
pyspark
tabulate
requests
duckduckgo-search